.fc-col-header a { color: #fff; text-decoration: none; }

.fc-theme-standard .fc-scrollgrid { border: 1px solid rgba(255,255,255,0.2);}
.fc-day-disabled { background: transparent !important;}
.fc-theme-standard td, .fc-theme-standard th { border: 1px solid rgba(255,255,255,0.1); }
.fc-col-header-cell-cushion { color: white; text-decoration: none; font-size: 12px; padding: 6px !important; }



.fc-h-event { border: none; background: #d11f1f; padding:3px 10px; margin-bottom: 10px; }
.fc-h-event .fc-event-main { background: #d11f1f; font-weight: bold; border-radius: 10px; } 
.fc .fc-multimonth-title { color: #fff; background: #141414; }

.fc .fc-daygrid-day-number { color: #fff; text-decoration: none; font-size: 20px;}
.fc .fc-daygrid-day.fc-day-today { background: #ffffff1c; }

.fc .fc-today-button { background: #d11f1f; border: 1px solid transparent; padding: 6px 40px; }
.fc .fc-today-button:disabled { background: #757575; border: 1px solid transparent; padding: 6px 40px; }
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; background: #d11f1f; border: none; }
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-left: -1px; background: #d11f1f; border: none; }


.fc .fc-multimonth { border: none; }
.fc-multimonth-daygrid-table { background: rgba(0,0,0,0.9); }
.fc .fc-daygrid-day-frame { min-height: 100%; position: relative; background: #000; }

.fc-theme-standard .fc-popover { background: #941616; border: 1px solid transparent; border-radius: 10px; padding: 10px 20px; }
.fc-theme-standard .fc-popover-header { background: transparent; }
.fc-theme-standard .fc-popover .fc-popover-header span.fc-popover-title { margin: 0; font-size: 20px; }
.fc-theme-standard .fc-popover .fc-popover-header span.fc-popover-close { margin: 0; font-size: 20px; }
.fc .fc-more-popover .fc-popover-body { padding: 0; }
.fc .fc-multimonth-multicol .fc-daygrid-more-link { background: #d1201f; border: 1px solid transparent; color: #fff; font-size: 12px; text-decoration: none;}

.fc .fc-toolbar.fc-header-toolbar { margin-bottom: 40px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding-bottom: 60px; display: none; }
.fc .fc-multimonth-multicol .fc-multimonth-month {
    padding: 0px 7px;
}